@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

body {
  font-family: "RocknRoll One", sans-serif;
  background: rgb(102, 90, 180);
  color: #222;
  overflow: hidden;
  text-align: center;
}

h1,
h3 {
  margin-bottom: 2rem;
  color: #e1ebfd;
  text-shadow: 0 0 5px #433aa8, 3px -1px 5px #271c6c;
}

.option {
  margin: 0 auto;
  cursor: pointer;
  color: #e1ebfd;
}
