.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: -50px;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid black;
  background: rgb(140, 127, 223);
  
}

.header .options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.header .options .option {
  padding: 10px 15px;
  cursor: pointer;
  color: black;
}
